<h1>Create a new discount</h1>

<%= form_for :discount do |f| %>
  <div class="form-group">
    <%= f.text_field :name %>
  </div>    
  <div class="form-group">
    <%= f.select :item %>
  </div>    
  <div class="form-group">
    <%= f.select :when_ordered_item %>
  </div>    
  <div class="form-group">
    <%= f.text_field :discount_rate %>
  </div>  
  <%= f.submit %>
<% end %>