<nav class="navbar navbar-expand-lg bg-dark nav-cafe-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag "cafe_logo.png" %> </a>
    <a class="nav-link" href="#"><h1>Silly Cafe</h1></a>
    <div class="alert"><%= alert %></div> 
    <div class="notice"><%= notice %></div> 
    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <% if user_signed_in? %> 
       <div class="welcome"> Welcome <%= current_user.email %> </div> 
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= button_to "Sign in", new_user_session_path %> 
      <% end %>

    </div>
  </div>
</nav>